/** styles for all pages **/
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    background-color: beige;
}

/** main page stylesheet **/
.title {
    text-align: center;
    margin-top: -10px;
    padding: 0px 115px;
    max-width: 200px;
    margin-bottom: 10px;
}

div .intro {
    margin: 30px auto;
    max-width: 300px;
}

.container {
    background-color: #e8dec1;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px 20px;
}
/** font-style for all pages **/
.intro,
.subsection {
    font-family:sans-serif, Arial;
}

/** stylesheet for gizdodo page **/
.container-giz {
    background-color: #e8dec1;
    max-width: 500px;
    margin: 20px auto;
    padding: 10px 300px;
}

span {
    padding: 0px;
    color: brown;
}

#ingredients {
    font-family: 'Times New Roman', serif;
    color: rgb(71, 14, 14);
}

.main .child {
    font-size: 20px;
    color: brown;
}

img {
    height: auto;
    width: 500px;
    border: 2px solid rgb(145, 62, 62);
    margin-left: -200px;
}

.subsection.begin {
    max-width: 400px;
}

.subsection.description {
    max-width: 400px;
}
ol {
    margin-bottom: 50px;
}

.related-posts {
    margin-top: 100px;
    background-color: burlywood;
    padding: 8px 30px;
    border: 2px solid blue;
    margin-left: -200px;
  
}
.posts,
.main {
    margin: 20px auto;
}